{% extends "layout/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Produktifitas kita saat ini </h1>
      <ol class="breadcrumb" style="margin-bottom:5px;">
          <li class="active">Beranda</li>
      </ol>
      <br/>
    </div>
    <!-- /.col-md-12-->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <center><i class="wi wi-earthquake" id="icon-hujan"></i></center>
        <div class="caption">
          <h4>Gempabumi Terkini</h4>
          <p>
            {{ earthquake.tanggal|date:"d-m-Y" }} {{ earthquake.origin_time|time:"hh-mm-ss" }}, M{{ earthquake.magnitudo }},
             {{ earthquake.lintang }}, {{ earthquake.bujur }}, {{ earthquake.kedalaman }} km, {{ earthquake.remark }} </br>
             {% if terasa %}
              terasa
             {% endif %}
          </p>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <center><i class="wi wi-sleet" id="icon-hujan"></i></center>
        <div class="caption">
          <h4>Hujan {{ precipitation.tanggal|date:"d-m-Y" }}</h4>
          <p>
            {{ precipitation.jumlah }} mm
          </p>
        </div>
        <!--/.thumbnail-->
      </div>
      <!--/.thumbnail-->
    </div>
    <!--/.rain-->

    <!--lightning-->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <center><i class="wi wi-lightning" id="icon-hujan"></i></center>
        <div class="caption">
          <h4>Ligtning {{ petir.tanggal|date:"d-m-Y" }}</h4>
          <p>
            Stroke: {{ petir.stroke }}, noise : {{ petir.noise }}, energy : {{ petir.energy }}
          </p>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}
